openapi: 3.0.2
info:
  title: OpenAPI Course
  description: Spec for course
  contact:
    name: MDC Bowen
    url: https://www.mdcbowen.info
    email: mbowen@mdcbowen.org
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: "1.0"
servers:
- url: https://development.gigantic-server.com/v1
  description: Development server
paths:
  /v1/beers:
    get:
      summary: Returns a list of beers.
      description: Optional extended description in Markdown.
      operationId: getBeers
      responses:
        "200":
          description: A JSON array of beers
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        "404":
          description: File Not Found
          content:
            application/json:
              schema:
                title: File Not Found
  /v1/customers:
    get:
      summary: Returns a list of customers.
      description: Optional extended description in Markdown.
      operationId: getCustomers
      responses:
        "200":
          description: A JSON array of customers
          content:
            application/json:
              schema:
                maxItems: 100
                minItems: 2
                type: array
                description: A list of customers
                items:
                  $ref: '#/components/schemas/inline_response_200'
components:
  schemas:
    v1customers_address:
      type: object
      properties:
        street:
          maxLength: 100
          minLength: 2
          type: string
          description: The street name of the address
          example: 17645 Cypress Circle
        city:
          maxLength: 100
          minLength: 2
          type: string
          description: The city name of the address
          example: Carson
        state:
          maxLength: 100
          minLength: 2
          type: string
          description: The state name of the address
          example: CA
        zip:
          maxLength: 100
          minLength: 2
          type: string
          description: The zip code of the address
          example: "90746"
      description: The address of the customer
    inline_response_200:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstName:
          maxLength: 100
          minLength: 2
          type: string
          description: The first name of the customer
          example: Mike
        lastName:
          maxLength: 100
          minLength: 2
          type: string
          description: The last name of the customer
          example: Bowen
        address:
          $ref: '#/components/schemas/v1customers_address'
